.about {
  padding: 6rem 1rem;
}
.about__container {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 80px;
}
.about__container_content_nav {
  background-color: var(--primary-color-100);
  display: flex;
  gap: 20px;
  max-width: max-content;
  padding: .25rem;
  border: 1px solid var(--gray-color-200);
  border-radius: .4rem;
  margin-bottom: 2rem;
}
.about__container_content_nav button,
.about__container_content_nav button.ativo {
  font-size: .875rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: .4rem;
  background-color: transparent;
  padding: .6rem 2rem;
  box-sizing: border-box;
  transition: .1s;
  border: 1px solid transparent;
}
.about__container_content_nav button.ativo {
  background: var(--primary-color-100);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: 600;
}