.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FAFAFE;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  padding: 0 calc(100% - 1376px);
  z-index: 9;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
.header__logo {
  width: 150px;
}

.header__navmenu a {
  color: #333;
  font-weight: 500;
  padding: .875rem 1.5rem;
  border-radius: .25rem;
 }
 .header__navmenu a:hover,
 .header__navmenu a:focus,
 .header__navmenu a:global(.active) {
  color: #7065F0;
  background-color: #E8E6F9;
 }

 .header__navmenu_dropdown {
  display: none;
 }
