@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;

  --type-first: 'Inter', Helvetica, Arial, sans-serif;
  --type-second: 'Abril Fatface', georgia, serif;
  --primary-color: #7065F0;

  /* FEDCBA9876543210 */
  --primary-color-100: #F7F7FD;
  --primary-color-200: #E7E5F8;
  --primary-color-300: #E0DEF7;
  --primary-color-700: #120C56;
  --primary-color-900: #000929;

  --gray-color-100: #FDFFFE;
  --gray-color-200: #B3B5BF;
  --gray-color-300: #989CA7;
  --gray-color-400: #808494;
  --gray-color-500: #6C727F;
  --gray-color-600: #4C5369;
  --gray-color-700: #3E455E;
  --gray-color-800: #333333;
  --gray-color-900: #111111;

  --white-color: #ffffff;
  --black-color: #000000;

  font-family: var(--type-first);
  background-color: var(--gray-color-100);
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.d-none {
  display: none;
}

.title,
.title-big {
  font: 600 2rem/1.25 var(--type-first);
  margin: 0 0 2rem;
  color: var(--primary-color-900);
}
.title-big {
  font-size: 3rem;
}

.text,
.text-big,
.text-bold {
  font: 500 1rem var(--type-first);
  color: var(--primary-color-900);
}
.text-big {
  font-size: 1.25rem;
}
.text-bold {
  font-weight: 600;
}
.text-dec {
  color: var(--primary-color);
}

.shadow {
  box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
  position: relative;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}
@keyframes animeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}